<section>
  <div class="alert-box">
    <h1>{{t "speakOut"}} <span>{{t "beCounted"}}</span></h1>
    <p>{{t "ruleOfThumbText"}}</p>
    {{#link-to "public.main"}}<i class="mdi mdi-close"></i>{{/link-to}}
  </div>

  <h2>{{t "votes"}}</h2>

  <div class="row votes-body">
    {{#each celebrities as |celebrity|}}
      {{vote-item celebrity=celebrity}}
    {{/each}}
  </div>

  <div class="banner">
    <h3>{{t "bannerText"}}</h3>
    {{#link-to "public.main" class="banner-btn"}}{{t "submitAName"}}{{/link-to}}
  </div>
</section>
